  <h1>Testeando!</h1>
  <img src="images/yeoman.png" alt="">
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Testeando app con Angular social sharing
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->

  <p><a ng-click="main.llamarTwitter()" class="btn btn-lg btn-success">Twitter desde servicio
      <i class="fa fa-twitter"></i></a></p>

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="twitter" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323"> -->
  <!--   <i class="fa fa-twitter"></i> Twitter -->
  <!-- </a> -->

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="facebook" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="http://127.0.0.1/#!/"> -->
  <!--   <i class="fa fa-facebook"></i> Facebook -->
  <!-- </a> -->

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="instagram" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323"> -->
  <!--   <i class="fa fa-instagram"></i> Instagram -->
  <!-- </a> -->

</div>

