<div class="jumbotron">
  <h1>Testeando!</h1>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Testeando app con Angular social sharing
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->

  <p><a ng-click="main.llamarTwitter()" class="btn btn-lg btn-success">Twitter desde servicio
      <i class="fa fa-twitter"></i></a></p>

  <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare
    socialshare-provider="twitter" socialshare-text="Cebolla por libra, excelente precio!!"
    socialshare-hashtags="isyplus #tiendaonline #loja"
    socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323">
    <i class="fa fa-twitter"></i> Twitter
  </a>

  <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare
    socialshare-provider="facebook" socialshare-text="Cebolla por libra, excelente precio!!"
    socialshare-hashtags="isyplus #tiendaonline #loja"
    socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323">
    <i class="fa fa-facebook"></i> Facebook
  </a>

  <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare
    socialshare-provider="instagram" socialshare-text="Cebolla por libra, excelente precio!!"
    socialshare-hashtags="isyplus #tiendaonline #loja"
    socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323">
    <i class="fa fa-instagram"></i> Instagram
  </a>

</div>

<div class="row marketing">

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f0e3ad15b59f94722babbd2/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->

</div>
