  <h1>Testeando!</h1>
  <img src="images/yeoman.png" alt="">
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    Testeando app con Angular social sharing
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->

  <p><a ng-click="main.llamarTwitter()" class="btn btn-lg btn-success">Twitter desde servicio
      <i class="fa fa-twitter"></i></a></p>

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="twitter" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323"> -->
  <!--   <i class="fa fa-twitter"></i> Twitter -->
  <!-- </a> -->

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="facebook" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="http://127.0.0.1/#!/"> -->
  <!--   <i class="fa fa-facebook"></i> Facebook -->
  <!-- </a> -->

  <!-- <a class="btn btn-medium center-content color-black radius3 bg-white" href="#" socialshare -->
  <!--   socialshare-provider="instagram" socialshare-text="Cebolla por libra, excelente precio!!" -->
  <!--   socialshare-hashtags="isyplus #tiendaonline #loja" -->
  <!--   socialshare-url="https://www.isyplus.com/ventas/#!/detalle_articulo/4323"> -->
  <!--   <i class="fa fa-instagram"></i> Instagram -->
  <!-- </a> -->
  <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&appId=211445000223554&width=96&height=20" width="96" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<br>

<div id="status"></div>

<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
